@model FooterViewModel
@{
}



<footer class="w-100" style="background-color: rgba(0, 0, 0, 0.1) !important;">
    <div class="container">
        <div class="col-md-4 col-6">
            <h3>@Model.LogoText</h3>
            <div class="my-3 text-break text-break fs-6">
                @Html.Raw(Model.Description)
            </div>
            <div class="dropdown my-3">
                <a class="btn dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>@Model.CurrentLanguage</span>
                </a>
                @if (Model.LanguagesAndRedirectUrls != null && Model.LanguagesAndRedirectUrls.Any())
                {
                    <div class="dropdown-menu border-0" aria-labelledby="dropdownMenuButton">
                        @foreach (var (language, redirectUrl) in Model.LanguagesAndRedirectUrls)
                        {
                            <a class="btn btn-link-thin btn-xs text-right dropdown-item" href="@redirectUrl">@(language)</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</footer>