@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (CardItem)Model.Content;
    if (row == null)
    {
        return;
    }
}

<div class="card w-100">
    @if (row.Image != null && !string.IsNullOrWhiteSpace(row.Image.Url()))
    {
        <img src="@row.Image.GetCropUrl(width: 544, height: 343)" class="card-img-top" alt="...">
    }
    @if (!string.IsNullOrWhiteSpace(row.Title) || !string.IsNullOrWhiteSpace(row.Description))
    {
        <div class="card-body">
            @if (!string.IsNullOrWhiteSpace(row.Title))
            {
                <h5 class="card-title">@row.Title</h5>
            }
            @if (!string.IsNullOrWhiteSpace(row.Description))
            {
                <p class="card-text">@row.Description</p>
            }
        </div>
    }

    @if (row.Link != null)
    {
        <div>
            <a href="@row.Link.Url" class="btn btn-primary">@row.Link.Name</a>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(row.Sign))
    {
        <div class="card-footer">
            <small class="text-body-secondary">@row.Sign</small>
        </div>
    }
</div>